<div class="top">
  <img src="" alt="">
  <span>
    {{title}}
  </span>
</div>

<div class="content">
  <div class="card-container">
    <div class="card1">
      <span>Hola</span>
      <span>{{name}}</span>

    </div>
    <div class="card2">
      <span>Páginas que te gustan</span>
      <span>{{likes}}</span>

    </div>
    <div class="card3">
      <span>Número de publicaciones</span>
      <span>{{posts}}</span>

    </div>
    <div class="card4">
      <span>Número de amigos</span>
      <span>{{friends}}</span>

    </div>
  </div>
</div>

